.storageWrap {
  width: 100%;
  height: max-content;
  margin-top: 75px;
  /* margin-bottom: 20px; */
}
.storage {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid silver;
  border-bottom: 2px solid silver;
  background-color: white;
}
.warri {
  width: 85%;
  height: 90%;
  display: flex;
  /* background-color: white; */
  /* background-color: red; */
  /* align-items: center; */
}
.storagepics {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.picturehold {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 225, 225);
}
.real {
  width: 97%;
  height: 96%;
  background-color: black;
}
.real img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.storagewrite {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.write {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  line-height: 25px;
  background-color: white;
}
.write h1 {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
}
.write p {
  font-size: 15px;
}
.others {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.othershold {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: grey; */
}
.actualothers {
  width: 22%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #30355d;
  cursor: pointer;
  transition: bacground-color 0.3s;
}
.actualothers:hover {
  background-image: linear-gradient(to left, #df6512, orange);
}
.actualothers p {
  font-size: 13px;
  font-weight: bold;
}
.iconhold {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  right: -6%;
  top: 20%;
  background-color: #df6512;
}
.getintouch {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  /* background-color: blue; */
}
.getintouch img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intouch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 225, 225, 0);
  /* background-color: #30355d; */
  position: absolute;
}
.info {
  width: 100%;
  height: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: #2e313a94;
  /* backdrop-filter: blur(10px); */
}
.info p {
  color: #df6512;
  font-size: 15px;
  font-weight: bold;
}
.info h1 {
  color: white;
  /* border-top: 40px; */
  /* font-size: 20px; */
}
.info span {
  color: white;
}
.info button {
  width: 17%;
  height: 20%;
  color: white;
  background-color: #df6512;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}
.info button:hover {
  background-color: white;
  color: #df6512;
}

@media screen and (max-width: 766px) {
  .warri {
    width: 90%;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
  }
  .storagepics {
    width: 100%;
    gap: 20px;
    padding-top: 20px;
  }
  .picturehold {
    height: 300px;
  }
  .storage {
    height: max-content;
  }
  .storagewrite {
    width: 100%;
    padding-bottom: 20px;
  }
  .write h1 {
    line-height: 1.5;
  }
  .write p {
    font-size: 15px;
  }
  .others {
    display: none;
  }
  .getintouch{
    height: max-content;
    /* margin-bottom: 40px; */
  }
  .intouch{
    height: max-content;
  }
  .info {
    width: 100%;
    height: max-content ;
    padding: 10px;
    /* padding-block: 30px; */
  }
  .info h1 {
    font-size: 20px;
  }
  .info span {
    font-size: 15px;
  }
  .info button {
    width: 50%;
    height: 30px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 300px) {
  .getintouch {
    height: max-content;
  }
  .intouch {
    height: 500px;
  }
  .info {
    top: 0px;
    height: 500px;
    justify-content: flex-start;
    /* font-size: 12px; */
  }
  .info h1 {
    font-size: 15px;
  }
  .info span {
    font-size: 10px;
  }
  .info button {
    width: 50%;
    height: 30px;
  }
}
