.ddAboutUs{
    width: 230px;
    height: 150px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 10px;
    gap: 10px;
}

.ddAboutUsText{
    color: #000;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
}

.ddAboutUsText:hover{
    color: rgb(223, 101, 18);
}